@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300&display=swap');


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(47, 47, 47);
    font-family: 'Lato', sans-serif;
}

.col{
    flex-direction: column;
}

.endscreen{
    position: absolute;
    z-index: 10;
}



.endscreen h1{
    font-size: 72px;
    color: rgb(226, 0, 0);
    margin: 0;
    font-weight: 800;
    line-height: 72px;
    text-shadow: 0 2px 5px rgb(0, 0, 0);
    transition: .2s;
}

.endscreen h2{
    font-size: 32px;
    color: #fff;
    font-weight: 800;
    margin-top: -1rem;
    line-height: 32px;
    text-shadow: 0 2px 5px rgb(0, 0, 0);
    transition: .2s;
}

.endscreen #retry{
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 4px;
    margin-top: 2rem;
    color: #fff;
    padding: 1rem;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    transition: .2s;
}

.endscreen #retry:hover{
    background-color: rgb(206, 3, 3);
    background-blend-mode: multiply;
    font-size: 22px;
    transition: .2s;
    cursor: pointer;
}


.hidden{
    margin-top: 5rem;
    opacity: 0;
    border-radius: 10px;
    background-position: center;                    
    background-size: contain;
    width: 130px;
    height: 130px;
    transition: .5s ease, opacity 300ms;
}


.opacity0{
    opacity: 0;
    transition: .2s;
}

.none{
    display: none;
}

.show{
    margin-top: 0rem;
    border-radius: 10px;
    opacity: 100%;
    background-position: center;                    
    background-size: contain;
    width: 130px;
    height: 130px;
    transition: .5s ease , opacity 300ms;
}

.fixed{
    width: 100%;
    height: 130px;
    bottom: 20px;
    overflow: hidden;
    margin-top: 5rem;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.row{
    display: flex;   
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* DŮLEŽÍTÁ ČÁST */ 
.card-container{
    position: relative;                 /* prázdný container nic tam není jenom to hraničuje tu kartu */
    width: 150px;
    height: 150px;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.card:hover .back{
    background-color: rgba(255, 255, 255, 0.2);     /* Zvýraznění karty */
    background-blend-mode: overlay;
}

.card:hover .front{
    background-color: rgba(255, 255, 255, 0.2);     /* Zvýraznění karty */
    background-blend-mode: overlay;
}


.card{
    position: absolute;
    width: 100%;                        /* opět prázdný container ale říká to že celá kartička je 3d objekt a tím pádem může mít 2 strany (děkuji někomu na stackoverflow.com) */
    height: 100%;
    transform-style: preserve-3d;
    transition: all .5s ease;
    cursor: pointer;

}

.back{
    position: absolute;
    border-radius: 10px;
    background-image: url("imgs/cardback.png");
    background-position: center;                        /* zadní strana karty */
    background-size: contain;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all .3s ease-in-out, background-color 1ms;
}

.front{
    position: absolute;
    border-radius: 10px;
    background-position: center;
    background-size: contain;       /* přední strana karty */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.rotate{
    transform: rotateY(180deg);   /* otočí kartičku */
}


/* jednotlivé obrázky */

.mr2{
    background-image: url("imgs/mr2.png");
}

.r32{
    background-image: url("imgs/r32.png");
}

.fd{
    background-image: url("imgs/fd.png");
}

.fc{
    background-image: url("imgs/fc.png");
}

.evo{
    background-image: url("imgs/evo.png");
}

.eg6{
    background-image: url("imgs/eg6.png");
}

.z350{
    background-image: url("imgs/350z.png");
}

.ae86{
    background-image: url("imgs/86.png");
}

.take{
    margin-top: 25rem;  /* "animace" "ukradnutí" karty */
}

