@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root{
    --transition-type: cubic-bezier(1,0,0,1);
    
}

body{
    background-color: #282C34;
    color: #fff;
    font-size: 3vw;
    min-height: 100vh;
    margin: 0;
    font-family: 'Fira Code', monospace;
}

@media screen and (min-width: 1200px) {
    body {
       font-size: 40px;
    };

    .indent{
        margin-left: 70px;
    };

    .indent2x{
        margin-left: 140px;
    };
  }

#hub{
    width: 90%;
    margin: 2rem;

}

#main-intro{
    position: fixed;
    top: 2rem;
    transition: .5s var(--transition-type);
}

#info{
    margin-top: 150px;
    transition: .5s var(--transition-type);
}

#morecomingsoon{
    transition: all .5s var(--transition-type);
    font-size: 20px;
    color: #474a50;
}

#secondary-screen{
    position: fixed;
    transition: .5s;
    overflow: hidden;
    background-color: #21242a;
    padding: 2rem;
    border-radius: 10px;
    transition: all .6s var(--transition-type);
}

.displayNone{
    display: none;
}

#console{
    display: flex;
    margin-top: 3rem;
    background-color: #1c1c1f;
    border-radius: 5px;
    line-height: 1.5em;
}

#console p{
    margin: 0;
    margin-left: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

#uiSwitch{
    position: fixed;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 20px;
    bottom: 3rem;
    right: 3rem;
}

.margin{
    margin: 0;
    transition: all .6s var(--transition-type);
}

.indent{
    margin-left: 5vw;
}

.indent2x{
    margin-left: 10vw;
}

.hidden{
    margin-left: -100vw;
    transition: all .6s var(--transition-type);
}

.dropdown{
    display: flex;
    align-items: center;
}

.dropdown svg{
    position: absolute;
    margin-left: -1.2em;
    transition: .15s;
}

.dropdown svg:hover{
    color: #cf3a3a;
    transition: .15s;
    cursor: pointer;
}

.rotate{
    transform: rotate(180deg);
}


.italic{
    font-style: italic;
    color: #414349;
}

#main-text{
    margin: 0;
}

#main-subtext{
    margin: 0;
}

#projects{
    font-weight: 800;
    transition: .5s;
    margin-bottom: 0;
}

.red{
    color: #cf3a3a;
}

.orange{
    color: #ffac40;
}

.green{
    color: #6deb33;
}

.blue{
    color: #33a8eb;
}

.purple{
    color: #B98EFF;
}

.op0{
    opacity: 0;
    transition: .7s;
}

a{
    color: #6deb33;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 0);
    transition: .3s;
}

a:hover{
    color: #87ff50;
    text-shadow: 0 0px 3px #a0ff74;
    transition: .3s;
}